.App {
  text-align: center;
  font-size: large;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 50px;
  color: white;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}



